{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="topnav">
      <a href="/defense/">Home</a>
    </div>

    <h1>{{ player_info }}</h1>
    <div class="table">
        {{ table|safe }}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
        {% autoescape off %}
                {{ plot_div }}
        {% endautoescape %}
    </div>
</body>
</html>

