{% extends 'defense/base.html' %}

{% block content %}
        <h1>{{ header }}</h1>
        <div class="players">
          <table>
            <tr>
              {% for i in table_headers %}
                <th>{{ i }}</th>
              {% endfor %}
            </tr>
            {% for a in tuples %}
              <tr class="data">
                <td class="top_10"><a href="/defense/player/{{ a.0 }}/">{{ a.1 }}, {{ a.2 }}</a></td>
                <td>{{ a.3 }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="search">
          <ul>
          {% for player in players %}
            <li><a href="/defense/player/{{ player.player_id }}">{{ player.player_lname }}, {{ player.player_fname }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div>
            <h3>Enter scoring settings?</h3>
            <a href="/defense/custom">click here</a>
        </div>
{% endblock %}
