{% extends 'defense/base.html' %}

{% block content %}
        <div class="players">
          <table>
            {% for a in tuples %}
              <tr>
                <td class="top_10"><a href="/defense/player/{{ a.0 }}/">{{ a.1 }}, {{ a.2 }}</a></td>
                <td>{{ a.3 }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>

        <div>
            <h3>Enter scoring settings below:</h3>
            <form action="/defense/custom/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
{% endblock %}
